<% @page_title = "Paste Bin | New Post" -%>
<div class= "New_Post_Form">
	<h1>Paste Bin - New Paste</h1>
	<%= form_for(:post, :url => {:controller => 'posts', :action => 'create'}) do |f| %>
	  <%= f.label :name %>
	  <%= f.text_field :name %>
	  <br>
	  <%= f.label :paste_content %> <br>
	  <%= f.text_area :paste_content %>
	  <br>
	  
	  <% if !session[:user_id] %>
  	  <%= f.hidden_field :user, :value => "Anonymous" %>
	  <% else %>
	  <%= f.hidden_field :user, :value => @current_user.username %>
	  <% end %>
	  <%= f.submit "Submit" %>
	<% end %>

	<% if @post.errors.any? %>
		<ul class="Signup_Errors">
			<% for message_error in @post.errors.full_messages %>
				<li>* <%= message_error %></li>
			<% end %>
		</ul>
	<% end %>
</div>
<%= link_to "Back to home page", web_index_path %>